version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    versioning-strategy: increase
    schedule:
      interval: "monthly"
    groups:
      vue-and-vite-deps:
        patterns:
          - "vue*"
          - "vite*"
          - "pinia"
      coding-and-language:
        patterns:
          - "typescript"
          - "prettier"
          - "eslint*"
      tools:
        dependency-type: production
        patterns:
          - "*pdfmake*"
          - "date-fns"
          - "jszip"
          - "marked"
      everything-else:
        dependency-type: production
        patterns:
          - "*" # captures everything that wasn't included in any of the above groups

  - package-ecosystem: "npm"
    directory: "/shared"
    versioning-strategy: increase
    schedule:
      interval: "monthly"
    groups:
      coding-and-language:
        patterns:
          - "typescript"
          - "prettier"
          - "eslint*"
      everything-else:
        patterns:
          - "*" # captures everything that wasn't included in any of the above groups

  - package-ecosystem: "npm"
    directory: "/backend"
    versioning-strategy: increase
    schedule:
      interval: "monthly"
    groups:
      coding-and-language:
        patterns:
          - "typescript"
          - "prettier"
          - "eslint*"
          - "ts-node"
          - "reflect-metadata"
      database:
        dependency-type: production
        patterns:
          - "typeorm"
          - "pg"
      koa:
        dependency-type: production
        patterns:
          - "*koa*"
      tools:
        dependency-type: production
        patterns:
          - "basic-auth"
          - "jsonwebtoken"
          - "*ldapjs"
          - "*nodemailer"
          - "*node*"
      everything-else:
        patterns:
          - "*" # captures everything that wasn't included in any of the above groups
