version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    versioning-strategy: increase
    open-pull-requests-limit: 7
    schedule:
      interval: "monthly"
    groups:
      vue-and-vite-deps:
        patterns:
          - "vue*"
          - "@vue-leaflet/*"
          - "vite*"
          - "pinia"
      coding-and-language:
        patterns:
          - "typescript"
          - "prettier"
          - "eslint*"
          - "ts-node"
          - "reflect-metadata"
      tools:
        patterns:
          - "*pdfmake*"
          - "date-fns"
          - "jszip"
          - "marked"
          - "basic-auth"
          - "jsonwebtoken"
          - "*ldapjs"
          - "*nodemailer"
          - "*node*"
      database:
        patterns:
          - "typeorm"
          - "pg"
      koa:
        patterns:
          - "*koa*"
      everything-else:
        patterns:
          - "*" # captures everything that wasn't included in any of the above groups