name: Frontend code style checks and tests
on: [pull_request, push]

defaults:
  run:
    working-directory: frontend

jobs:
  test-frontend:
    runs-on: ubuntu-latest
    container: node:22

    steps:
      - uses: actions/checkout@v4
      - name: Install frontend dependencies
        run: npm ci
      - name: Check TypeScript consistency
        run: npm run vue-tsc
      - name: Check formatting
        run: npm run format-check
      - name: Run frontend tests
        run: npm run test
